/.vscode

/.qsys_edit
/db
/output_files
/incremental_db
/platform
/simulation

/software/proyecto_iso/obj
/software/proyecto_iso/mem_init
/software/proyecto_iso/proyecto_iso.elf
/software/proyecto_iso/proyecto_iso.map
/software/proyecto_iso/proyecto_iso.objdump

/software/proyecto_iso_bsp/obj
/software/proyecto_iso_bsp/libhal_bsp.a

**/*.sv.bak

RSA/*.txt
RSA/rsa_d